In [15]:
import pandas as pd
import csv
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [16]:
jan1_flight_data = pd.read_csv("/Users/anali/OneDrive/Documents/00000_BootCamp/ETL/Champions/Resources/flightlist_20200101_20200131_part1.csv")
jan2_flight_data = pd.read_csv("/Users/anali/OneDrive/Documents/00000_BootCamp/ETL/Champions/Resources/flightlist_20200101_20200131_part2.csv")
feb_flight_data = pd.read_csv("/Users/anali/OneDrive/Documents/00000_BootCamp/ETL/Champions/Resources/flightlist_20200201_20200229.csv")
mar_flight_data = pd.read_csv("/Users/anali/OneDrive/Documents/00000_BootCamp/ETL/Champions/Resources/flightlist_20200401_20200430.csv")
apr_flight_data = pd.read_csv("/Users/anali/OneDrive/Documents/00000_BootCamp/ETL/Champions/Resources/flightlist_20200401_20200430.csv")
may_flight_data = pd.read_csv("/Users/anali/OneDrive/Documents/00000_BootCamp/ETL/Champions/Resources/flightlist_20200501_20200531.csv")

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,3,4,5,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
jan1 = pd.DataFrame(jan1_flight_data)
jan2 = pd.DataFrame(jan2_flight_data)
feb = pd.DataFrame(feb_flight_data)
mar= pd.DataFrame(mar_flight_data)
apr = pd.DataFrame(apr_flight_data)
may= pd.DataFrame(may_flight_data)

In [18]:
months= ([jan1,jan2,feb, mar,apr, may ])

In [19]:
df= pd.concat(months)

In [25]:
flight_df= df[['callsign', 'number', 'origin', 'destination', 'firstseen']]
flight_df.head(100)

   callsign number origin destination   firstseen
0    SVA816    NaN    NaN         NaN  12/31/2019
1    THY183    NaN    NaN        LTBW  12/31/2019
2    CES738  MU738   YMML        YSSY  12/31/2019
3    CES771  MU771   YSSY        EHAM  12/31/2019
4      HAL5    HA5   KLAS         NaN  12/31/2019
..      ...    ...    ...         ...         ...
95   CES220  MU220   EDDF         NaN  12/31/2019
96   CCA432    NaN   EDDF         NaN  12/31/2019
97   LAN572  LA572   NTAA        SKBO  12/31/2019
98  QTR8155    NaN   ELLX        SBGR  12/31/2019
99    HVN36   VN36   EDDF        RKSI  12/31/2019

[100 rows x 5 columns]

In [28]:
flight_df.to_csv('flights_07_31_csv.csv')